body{
    background-size: cover;
    background-position: center;
    text-align: center;
}
h1{
    text-transform: uppercase;
}
div{
    background-image: linear-gradient(
        to right bottom,
        rgba(255, 9, 9, 0.5),
        rgba(255, 136, 0, 0.5)
    ),
    url(media/IMG_0153.JPG);
    height: 500vh;
    font-family: 'Yeon Sung', cursive;
    letter-spacing: 4px;
    line-height: 2;
    font-weight: 900;
}
ul{
    list-style: none;
}
img{
    height: 10vh;
    filter: blur(5px);
}